{% extends "index.html" %}
{% block middle-content %}
<section class="section">
    <div class="card p-2">
        <div class="card-header mb-4">
            <div class="d-flex flex-row justify-content-between">
                <div class="w-50">
                    <h4 class="card-title fs-3">Lista Combustível</h4>
                </div>
                <div class="align-self-end">
                    <div class="d-flex flex-row">
                        <a class="btn icon icon-left btn-primary d-flex flex-row align-items-center" href="{% url 'pump:create-bomba' %}">
                            <span>Cadastrar Bomba de Combustível</span>
                            &nbsp;
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if bombas %}
            
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col" colspan="2">Situação</th>
                    </tr>
                </thead>
                {% for b in bombas %}
                <tbody>
                    <tr class="border-bottom">
                        <td>{{ b.tipo_combustivel }}</td>
                        <td>{{ b.qtdd_estoque }}</td>

                        <td class="d-flex flex-row justify-content">
                            <a href="{% url 'pump:update-bomba' pk=b.id %}">
                                <i class="bi bi-pencil-square fs-5"></i></a>
                            &nbsp;
                            <a href="{% url 'pump:delete-bomba' pk=b.id %}">
                                <i class="bi bi-trash fs-5"></i></a>
                        </td>

                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <p>Não há registros por aqui.</p>
            {% endif %}

            <ul class="pagination pagination-primary justify-content-end mb-0 mt-4">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link" href="#">Página {{ page_obj.number }}</a>
                </li>  

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% endblock middle-content %}