{% extends "index.html" %}
{% block middle-content %}
<div class="page-heading">
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title fs-3">Cadastrar Funcionario</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form method="POST" class="form">
                                {% csrf_token %}
                                <div class="row">


                                    <div class="col-md-6 col-12">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.nome.id }}">Estabelecimento</label>
                                            <input class="form-control" id="inputNome" placeholder="Nome" {{ form.nome}}
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-12">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.cpf.id }}">CPF</label>
                                            <input type="number" class="form-control" id="inputCPF" placeholder="CPF" {{ form.cpf }}
                                        </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" id="botao" class="btn icon icon-left btn-primary me-1 mb-1">Cadastrar Funcionário</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function(){
           
        }
    );
</script>
{% endblock middle-content %}
