{% extends "index.html" %}
{% block middle-content %}
<div class="page-heading">
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title fs-3">Cadastrar Bomba de Combustível</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form method="POST" class="form">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.datAbastecimento.id }}">Data Abastecimento</label>
                                            <input class="form-control" type='date' id="inputDataAba" placeholder="Selecione a Data" {{ form.datAbastecimento}}
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.tipoGas.id }}">Tipo de Combustivel</label>
                                            <select class="form-select" name="{{ form.tipoGas.html_name }}" id="status" {{ form.tipoGas }}</select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-16">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.qtd_litro.id }}">Quantidade de Litros</label>
                                            <input type="number" class="form-control" id="inputQuantLitros" placeholder="Quantidade Litros" {{ form.qtd_litro}}
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-16">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.capacidade.id }}">Kilometragem Odômetro</label>
                                            <input type="number" class="form-control" id="inputKMODO" placeholder="Capacidade" {{ form.km_odometro}}
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-16">
                                        <div class="form-group mb-4">
                                        <label for="{{ form.nomeFuncionario.id }}">Nome Funcionário</label>
                                        <select class="form-select" name="{{ form.nomeFuncionario.html_name }}" id="inputFuncionario" {{ form.nomeFuncionario }}</select>
                                        </div>
                                    </div>


                                    <div class="col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label for="{{ form.placa.id }}">Placa do Carro</label>
                                            <select class="form-select" name="{{ form.placa.html_name }}" id="inputPlaca" {{ form.placa }}</select>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content">
                                        <button type="submit" id="botao" class="btn icon icon-left btn-primary me-1 mb-1">Cadastrar Abastecimento</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      
    });
</script>
{% endblock middle-content %}
